
body {
	font-family:arial;
	background: #8fd7b2;
	margin-top:30px;
}

.container {
	width: 940px;
	padding:20px;
	margin:50px auto 0 auto;
}

.box {
	width:260px;
	height:195px;
	margin:20px;
	float:left;
	position: relative;
}

.box-content {
	display:block;
	padding:20px;
	width: 100%;
	height: 100%;
	background: #ffbbef;
	color:#333;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}

.box-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
	z-index:10;
}

a.link {
	display:block;
	width: 100%;
	height: 100%;		
	position: absolute;
	top:0;
	left:0;
	z-index:15;		
}

/* custom css styling */
.box-content .box-wrapper {
	width: 100%;
	height: 100%;
	font-size:24px;
	display:block;
	padding:30px 0 10px 0;
	text-align:center;
	margin-bottom:10px;
	border:2px solid #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}
.box-content span.name {
	display:block;
	text-align:center;
	font-family:georgia;
	font-style:italic;
	font-size:14px;
	font-weight:normal;
	margin-top:5px;
}

.box-content .row {
	margin-top:10px;
	font-size:12px;
	color:#000;
}



#nav {
	overflow:hidden;
	margin:15px auto;
	padding:0;
	list-style:none;
	width: 590px;
}
	#nav li {
		float:left;
		padding:5px;
		list-style:none;
		text-align:center;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
	}
	
	#nav li a {
		text-decoration:none;
		color:#fff;
		display:block;
		width: 100%;
		padding:5px 10px;					
		background: #666;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;
		border-radius: 5px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;		
	}
	
		#nav li a:hover,
		#nav li.current a {
			background: #ccc;
			color:#666;
		}
		

#info {
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;				
background:#fcf8e3;
border:1px solid  #fbeed5;
width:70%;
max-width:900px;
margin:0 auto 20px auto;
font-family:arial;
font-size:12px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
}

#info .info-wrapper {
	padding:10px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;

}

#info a {
	color:#c09853;
	text-decoration:none;
}

#info p {
	margin:5px 0 0 0;
}		