@charset "utf-8";

body{
/* 	background: #494A5F; */
    font-family: Arial, "Microsoft YaHei UI Light";    
    text-align: center;

}

/*一、24格处理*/
#iconWall{
    width: 734px;
    background-color: #f0f0f0;
    margin: 0 auto;
    overflow: hidden;
  /*   padding-top: 1px;
    padding-left: 0px; */
    list-style: none;
        text-align: center;
         margin-right: 200px;
          margin-left: 0px;
}

#iconWall li{
    width: 121px;
    height: 108px;
    /*background-color: #fff;*/
    float: left;
    margin-right: 1px;
    margin-bottom: 1px;
    position: relative;

}

/*二、3D反转区域处理 */
.img-back, .img-front{
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    width: 121px;
    height: 108px;
    text-align: center;
    line-height: 108px;
}

li img{
    vertical-align: middle;
}


.img-3d{
    transform-style: preserve-3d;
}

.img-back{
    transform: rotateY(180deg);
}

/*测试代码*/
/*li:hover .img-3d{*/
    /*transition: .3s linear;*/
    /*transform: rotateY(180deg);*/
/*}*/

/*三、换一批*/
#btnRefresh{
    text-align: center;
    transition: .3s linear;
    background-color: #fff;
}
.iconRefresh{
    width: 28px;
    height: 28px;
    background: url("../img/refresh.png");
    margin: 32px auto 0;
}
#btnRefresh:hover{
    color: #fff;
    background-color: #dd2727;
    transition: 0s;
}
#btnRefresh:hover .iconRefresh{
    background: url("../img/refresh-white.png");
}


/*四、处理浮层*/
.mask{
    position: absolute;
    left: 0;
    top: 0;
    width: 121px;
    height: 108px;
    background-color: rgba(0, 0, 0, .7);
    opacity: 0;
}

.mask img{
    float: right;
    margin-top: 8px;
    margin-right: 8px;
}
.mask p{
    font-size: 12px;
    color: #fff;
    margin-top: 45px;
    text-align: center;
}
.mask a{
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    background-color: red;
    width: 70px;
    display: block;
    margin: 0 auto;
    text-align: center;
    height: 18px;
    line-height: 18px;
    border-radius: 9px;
}

li:hover .mask{
    opacity: 1;
    transition: .3s linear;
}

/*页脚*/
footer{
    text-align: center;
    margin-top: 20px;
    color: #666;
    font-size: 16px;
    line-height: 1.4;
}